[user]
	name = Timofey Dergachev
	email = t@exeto.me
[core]
	autocrlf = input
	safecrlf = true
	excludesfile = ~/.gitignore
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge]
	tool = code
